/* source https://codesandbox.io/s/62x458v5pn?file=/src/Star.js */

  .Star {
    font-size: 2em;
    color: #cfd8dc;
    cursor: pointer;
    transition: all 0.3s;
  }
 
  .Rating {
    text-align: center;
  }
  
  .logInline {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .centerMe{
    align-self: center;
    margin: 0;
    padding: 0;
  }

  .despered{
    display: inline-flex;
  }