* {
    padding: 0px;
    margin: 0px;
}

.a {
    object-fit: cover;
    /* Do not scale the image */
    object-position: center;
    /* Center the image within the element */
    width: 45%;
    max-height: 850px;
    margin-bottom: 1rem;
}

.c {
    object-fit: cover;
    /* Do not scale the image */
    object-position: center;
    /* Center the image within the element */
    width: 100%;
    max-height: 900px;
    margin-bottom: 1rem;
}

.b {
    object-fit: cover;
    /* Do not scale the image */
    object-position: center;
    /* Center the image within the element */
    width: 70%;
    max-height: 200px;
    margin-bottom: 1rem;
    border-radius: 30px;
}

#why {
    color: #22a9bf;
    padding-top: 100px;
    padding-bottom: 10px;
}

#our {
    color: #1f2745;
    font-size: 3em;
}

#support {
    background-color: #1f2745;
    color: white;
}

.btn-flat {
    background-color: #ba2077;
    color: white;
    border-radius: 5px;
    padding: 10px;
    border-color: #ba2077;
}

.col24 {
    height: 300px;
    vertical-align: middle;
}

.text24 {
    font-size: 3em;
}

.destinations {
    object-fit: cover;
    /* Do not scale the image */
    object-position: center;
    /* Center the image within the element */
    width: 100%;
    max-height: 700px;
    margin-bottom: 1rem;
    border-radius: 10px;
    margin-right: 0px;
}

.all {
    padding: 0px 0px;
}