* {
    margin: 0;
    padding: 0;
}

.search-container {
    background-color: #1e2746;
    width: 70%;
    border-radius: 5px;
    position: absolute;
    z-index: 100;
    top: 5%;
    left: 0%;
    padding: 0px 15px 30px 15px;
}

.radio:nth-of-type(2) {
    margin-left: 10px;
}

.radio:nth-of-type(3) {
    margin-left: 10px;
}

.checkbox-search {
    margin-right: 5px;
}

.round {
    display: flex;
    justify-content: space-between;
}

.row.searchbox {
    padding: 1px;
    align-items: center;
}

/*
.row:nth-of-type(2) {
    height: 100px;
}
*/

.span {
    color: rgb(255, 255, 255);
    margin-left: 10px;
}

.small {
    color: rgb(201, 200, 200);
    font-size: 12px;
}

#checkbox-text {
    margin-right: 30px;
}

.button {
    width: 100%;
    background-color: #b92076 !important;
    border: 1px solid #b92076 !important;
    border-radius: 2px !important;
    font-weight: bold !important;
}

.radio-text {
    margin-left: 5px;
}