.sidebar {
        position: fixed;
        top: 0px; 
        bottom: 0;
        left: -100px;
        min-height: 100vh !important;
        z-index: 100;
        padding: 70px 0 0;
        box-shadow: inset -1px 0 0 rgba(0, 0, 0, 0.1);
        border-right: 1px dashed #b92076 ;
        transition: all .3s;
        width: 120px;
    }

    .sidebar:hover{
        left: 0px;
    }
    

.col {
      margin-right: 40px;
    }

#admin-list {
    height: 60vh;
    overflow-y: scroll;
}

tr > th,
tr > td > a > p {color:white}

.tableList{
  background: rgba(0, 0, 0, .5)
}